@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-balsamiq: "Balsamiq Sans", cursive;
}

body {
  background: black;
  color: white;
  font-family: var(--font-balsamiq);
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.event-details {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.activities {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.text-green-500 {
  color: #22c55e;
}

.text-red-500 {
  color: #ef4444;
}

.bg-red-500 {
  background-color: #ef4444;
}

.bg-green-500 {
  background-color: #22c55e;
}

.bg-yellow-300 {
  background-color: #fde047;
}
