@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

.text-green-500 {
  color: #22c55e;
}

.text-red-500 {
  color: #ef4444;
}

.bg-red-500 {
  background-color: #ef4444;
}

.bg-green-500 {
  background-color: #22c55e;
}

.bg-yellow-300 {
  background-color: #fde047;
}
